@import './colors';
@import "~@fontsource/montserrat/index.css";

.Container {
  text-align: center;
  min-height: 100vw;
  font-family: "Montserrat";
}

.App-header {
  background-color: $blue;
  padding-top: 2em;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.navbar {
  width: 100%;
}

#nav {
  min-height: 15vh;
  display: flex;
  width: 95%;
  float: left; 
  margin: 0;
  margin-right: 2em;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

a {
  color: $yellow;
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 55vh;
  align-items: center;
}

#myName {
  height: 60%;
  pointer-events: none;
  margin-right:20em; 
  padding: 0;
}

.submitButton {
  width: 5em;
  padding: .5em;
  background-color: $salmon;
  font-family: "Montserrat";
  color: $white;
  border-radius: 1em;
  border: none;
  font-weight: 700;
  box-shadow: 1px 1px 3px $charcoal;
}


.linkPNG {
  height: 2em;
  padding: 0;
  margin: 0;
}

.aboutMe {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

#aboutMeTitle {
  font-family: "Montserrat";
  margin: 0;
  padding: .5em;
  text-align: right;
  padding-right: 5em;
  font-size: 60px;
  color: $charcoal;
}

.aboutMeSection {
  // width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  }

.aboutMeContent {
  height: 80%;
  width: 60%;
  margin-bottom: 3em;
  padding: 1.5em;
  color: $white;
  background-color: $blue;
  font-size: 25px;
}



.myPicture {
  height: 25em;
  margin: 4em 10em;
  border-radius: 50%;
}

.myWork {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#myWorkTitle {
  // width: 90vw;
  margin: 0;
  padding: 1em;
  text-align: left;
  padding-left: 5em;
  font-size: 60px;
  background-color: $salmon;
  color: $cream;
}

.projectTitle {
  color: $charcoal
}

.localTrade {
  height: 85%;
  margin: 2em;
  border-radius: 20px;
}

.localTrade{
  height: 50vh;
}

.localTradeBorder {
    height: 85%;
  margin: 2em;
  border-radius: 20px;
  border: 1px solid $charcoal;

}

.localTrade:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 300ms;
}

.bountifull {
  height: 93%;
  margin: 0 0;
  padding: 0 0;
  border-radius: 60px 60px;
}

.bountifull:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 300ms;
}

.contactMe {
  height: 100vh;
  background-color: $yellow;
}

#contactMeTitle {
  padding: 1.5em;
  font-size: 60px;
  margin-bottom: 0;
  color: $charcoal;
}

#technologyTitle {
  // width: 90vw;
  margin: 0;
  padding: 1em;
  text-align: right;
  padding-right: 5em;
  font-size: 60px;
  background-color: $green;
  color: $cream;
}

.technology {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5em;
}

.logo {
  height: 10em;
  margin: 2em;
}

.logoSVG {
  height: 100%;
  margin: 2.5em;
}

.logoSVGLong {
  width: 70%;
  height: 100%
}

.socialSection {
  width: 15%;
  margin: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialIcon {
  height: 3.5em;
  color: $charcoal;
  margin: 0;
}

.socialIcon:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen   
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3){

  .Container {
    width: 100vw;
    padding: 0;
  }

  #nav {
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0;
  }

  .App-header {
    height: 50vh;
    // padding-top: 0;
  }
  

  #myName {
    height: 50%;
    padding-top: 1.5em;
    margin: auto;
    align-items: center;
  }

  #myWorkTitle {
    font-family: "Montserrat";
    margin: 0;
    padding: .5em;
    text-align: center;
    width: 90%;
    // margin: auto;
    // height:fit-content; 
    font-size: 40px;
    color: $white;
  }

  .localTrade {
    height: 30%;
  }


  #technologyTitle {
    font-family: "Montserrat";
    margin: 0;
    padding: .5em;
    text-align: center;
    width: 90%;
    // margin: auto;
    // height:fit-content; 
    font-size: 40px;
    color: $white;
  }


  #aboutMeTitle {
    font-family: "Montserrat";
    margin: 0;
    padding: .5em;
    text-align: center;
    width: 100%;
    margin: auto;
    // height:fit-content; 
    font-size: 40px;
    color: $charcoal;
  }

  .myPicture {
    height: 35%;
    width:  50%;
    margin: auto;
    margin-bottom: 1em;
  }



.myWork {
  // height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  // align-items: center;
  // justify-content: center;
}

.projectTitle {
  color: $charcoal;
  font-size: 20px;
}

.localTrade {
  height: 50%;
  // margin: 0;
  margin: 1em;
  border-radius: 20px;
}

.localTradeBorder {
  height: 50%;
  margin: 1em;
  border-radius: 20px;
  border: 1px solid $charcoal;
}

.localTradeImg{
  height: 20px;
}

.bountifull {
  height: 93%;
  // margin: 0 0;
  padding: 0 0;
  border-radius: 60px 60px;
}


  .aboutMeSection {
    // padding: 1em;
    width: 100vw;
    // height: 100vh;
    flex-direction: column;
    background-color: $blue;
  }

  .aboutMeContent {
    height: 70vh;
    width: 100vw;
    color: $white;
    background-color: $blue;
    font-size: 18.5px;
    padding: 0;
    margin: auto
  }

  .logoSVG {
    width: 70%;
  }
  
  .contactMe {
  height: 100vh;
  background-color: $yellow;
}

  #contactMeTitle {
    padding: 1em;
    font-size: 45px;
  }

  .socialSection {
    width: 50%;
  }

  .socialIcon {
    height: 3em;
  }
 } 

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
